* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.top-bar {
  height: 80px;
  background-color: rgba(2, 2, 2, 0.89);
  opacity: 0.9;
  border: 2px solid red;
}

.top-bar ul {
  width: 36%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(0, 204, 255);
  margin-top: 10px;
  /* padding: 0 0 0 6%; */
  /* align-items: center; */
  text-align: center;
}
.top-bar ul li {
  height: 20px;
  font-size: 8px;
  display: inline;
  border: 2px solid rgb(154, 150, 150);
  margin-left: 1.5%;
  margin-right: 1%;
  /* margin-left: auto;
  margin-right: auto; */
}
.top-bar ul li a {
  height: 20px;
}

.top-bar ul li img {
  height: 30px;
}

.image-section {
  /* height: 100%;
  width: 100%; */
  background-color: rgb(43, 226, 214);
  position: relative;
}

.background {
  width: 100%;
}

.mid-logo {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  z-index: 2;
}
.factors {
  height: 20px;
  background-color: rgb(226, 43, 43);
}

.tools-techniques {
  height: 20px;
  background-color: rgb(221, 80, 169);
}

.treatments {
  height: 20px;
  background-color: rgb(85, 229, 104);
}

.content-last {
  height: 20px;
  background-color: rgb(43, 134, 226);
}

.footer {
  height: 20px;
  background-color: rgb(221, 94, 56);
}
