.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 14px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-emoji: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
}
.top-bar {
  height: 80px;
  background-color: rgb(55, 51, 59);
  border: 2px solid red;
}

.top-bar ul {
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid rgb(0, 204, 255);
  margin-top: 10px;
}
.top-bar ul li {
  height: 20px;
  display: inline;
  border: 2px solid rgb(154, 150, 150);
  margin-left: 70px;
  margin-right: 0px;
}
.top-bar ul li a {
  height: 20px;
  font-size: 12px;
}

.top-bar ul li img {
  height: 30px;
}

.image-section {
  height: 0px;
  background-color: rgb(43, 226, 214);
}

.factors {
  height: 20px;
  background-color: rgb(226, 43, 43);
}

.tools-techniques {
  height: 20px;
  background-color: rgb(221, 80, 169);
}

.treatments {
  height: 20px;
  background-color: rgb(85, 229, 104);
}

.content-last {
  height: 20px;
  background-color: rgb(43, 134, 226);
}

.footer {
  height: 20px;
  background-color: rgb(221, 94, 56);
}
