<footer id="Footer">
  <div class="container">
    <div class="text-center">
      <img src="/images/logo.png" alt="Footer Logo" />
      <p>
        Sed magna quam, dictum pharetra tincidunt ut, dapibus eu felis. Nam
        vitae nibh viverra sollicitudin ante non; fermentum lectus.
      </p>
    </div>
  </div>
</footer>
